<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Alper CAVUS
              </h1>
               <p style="text-align:center">
                <a target="_blank" href="mailto:alpcvs52@gmail.com"> <i class="fa-solid fa-envelope"></i></a> &nbsp;&nbsp;
                <a href="https://github.com/alpercavus"><i class="fa-brands fa-github"></i></a> &nbsp;&nbsp;
                <a href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a> &nbsp;&nbsp;
                <a href="https://www.linkedin.com/in/alpercavus"> <i class="fa-brands fa-linkedin"></i> </a>
              </p>
              <p>
                Hello, I’m Alper!
               I graduated in 2024 with a degree in Electrical and Electronics Engineering. I have a deep curiosity and passion for artificial intelligence and algorithms, and I am constantly working to improve myself and develop innovative solutions in these fields.
                My goal is to become a leading professional in AI and algorithms, leveraging these technologies to make a real impact on the world.
              </p>
              <p>
                On this website, you’ll find a detailed CV showcasing my professional experiences and qualifications. I’ve also compiled a collection of tips and insights to help others learn about the latest advancements in AI and algorithms.
                Additionally, I share my thoughts and projects through a blog section where I document my journey and ideas.
              </p>
              <p>
                But that’s not all. I’m always seeking new challenges and opportunities to grow, whether it’s mastering a new algorithm or diving into an exciting project.
                If you’re looking for inspiration or simply want to discuss AI and algorithms, feel free to reach out via email or connect with me on social media. I’d love to exchange ideas and collaborate!
              </p>
              <p>
                As the field of AI is evolving at a rapid pace, I believe the best way to predict the future is to create it. I’m eager to join forces with like-minded individuals and organizations to shape the future and drive meaningful change.
                If you’re as excited about innovation as I am, let’s connect and create something extraordinary together!

              </p>
              <p style="text-align:center">
                <a href="https://alpercavus.github.io/pdfs/alpercavus.pdf"> CV &nbsp;	&middot; &nbsp;
                <a href="https://alpercavus.github.io/inkwell"> Inkwell &nbsp;	&middot; &nbsp;
                <a href="https://alpercavus.github.io/tiptop"> TipTop </a> &nbsp;	&middot; &nbsp;
                 <a href="https://alpercavus.github.io/reflection-avenue"> Reflection Avenue </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="https://avatars.githubusercontent.com/u/196696639?v=4">
            </td>
          </tr>
        </table>
       
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;"> 
                  © 2025 Alper CAVUS, design from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

